@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = @Model.Titulo;
}

<div class="container mt-5">
    <h2 class="mb-4">Detalhes do Anúncio</h2>

    <div class="card shadow-sm p-4">
        <div class="row g-4 align-items-center">
            <!-- Coluna da Imagem -->
            <div class="col-md-5">
                <svg class="bd-placeholder-img img-fluid rounded" width="100%" height="300"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>@Model.Titulo</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>
            </div>

            <!-- Coluna dos Detalhes -->
            <div class="col-md-7">
                <div class="card-body">
                    <h3>@Model.Titulo</h3>
                    <p><strong>Publicado em:</strong> @Model.DataPublicacao.ToString("dd/MM/yyyy")</p>
                    <p><strong>Preço:</strong> €@Model.Preco.ToString("F2")</p>
                    @if (ViewBag.TipoAnuncio == "motos" && Model.IdMotoNavigation != null)
                    {
                        <p><strong>Marca:</strong> @Model.IdMotoNavigation.Marca</p>
                        <p><strong>Modelo:</strong> @Model.IdMotoNavigation.Modelo</p>
                        <p><strong>Ano:</strong> @Model.IdMotoNavigation.Ano</p>
                        <p><strong>Quilometros:</strong> @Model.IdMotoNavigation.Quilometragem</p>
                        <p><strong>Cilindrada:</strong> @Model.IdMotoNavigation.Cilindrada</p>
                        <p><strong>Cor:</strong> @Model.IdMotoNavigation.Cor</p>
                        <p><strong>Caixa:</strong> @Model.IdMotoNavigation.Caixa</p>
                        <p><strong>ABS:</strong> @Model.IdMotoNavigation.Abs</p>
                        <p><strong>Carta:</strong> @Model.IdMotoNavigation.Carta</p>
                        <p><strong>Condicao:</strong> @Model.Condicao</p>
                        <p><strong>Descrição:</strong> @Model.Descricao</p>
                    }

                    @if (ViewBag.TipoAnuncio == "pecas" && Model.IdPecaNavigation != null)
                    {
                        <p><strong>Categoria:</strong> @Model.IdPecaNavigation.Categoria</p>
                        <p><strong>Descrição:</strong> @Model.Descricao</p>
                        <p><strong>Stock:</strong> @Model.IdPecaNavigation.Stock.ToString()</p>
                    }

                    <a href="@Url.Action("Anuncio", "Anuncio", new { tipo = ViewBag.TipoAnuncio })" class="btn btn-secondary mt-3">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>
